body {

    background: rgb(123, 69, 137);

}

.banner {
    background-color:rgba(87, 205, 174, 0.361);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

form {
    display: flex;
    flex-direction: column;
}

.bouton{
    display: flex;
    width: 61px;
    height: 22px;
    background-color:rgb(238, 100, 203);
    border-radius: 0px;
    justify-content: center;
    align-items: center;
}
.tache{
    min-width: 400px;
    background-color: antiquewhite;
    margin: 4px;
    border: #8c6b3f75 solid 1px;
    border-radius: 4px;
    padding: 4px;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

ul li{
  border-radius: 1%;
  border-color: rgb(123, 69, 137);
  background-color: rgb(123, 69, 137);
  padding: 16%;
  margin: 7%;
  height: 5%;
  width: 206%;
  list-style: none;
}